{% extends "layout.html" %}
{% block head %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='users.css') }}">

{% endblock %}

{% block header %}
    
{% endblock%}

{% block content %}

<section class="register">
    <div class="container">
        <div class="form_div">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="div_high">Join Today</legend>
                <div class="form-group">
                    {{ form.username.label(class="form_label") }}
                        {% if form.username.errors %}
                            {{ form.username(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.username.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.username(class="form-control form-control-lg") }}
                        {% endif %}
                </div>  
                <div class="form-group">
                    {{ form.email.label(class="form_label") }}
                        {% if form.email.errors %}
                            {{ form.email(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.email.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.email(class="form-control form-control-lg") }}
                        {% endif %}
                </div>  
                <div class="form-group">
                    {{ form.password.label(class="form_label") }}
                        {% if form.password.errors %}
                            {{ form.password(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.password(class="form-control form-control-lg") }}
                        {% endif %}
                </div>  
                <div class="form-group">
                    {{ form.confirm_password.label(class="form_label") }}
                        {% if form.confirm_password.errors %}
                            {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.confirm_password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.confirm_password(class="form-control form-control-lg") }}
                        {% endif %}
                </div> 
            </fieldset>
            <br>
            <div class="form-group-1">
                {{ form.submit(class="btn btn-success") }}
            </div>
        </form>
        <br>
        <div class="div_low">
            <small>
                Already have an account? <a class="login" href="{{url_for('users.login')}}">Log In</a>
            </small>
        </div>
        </div>
    </div>
</section>
{% endblock %}