{% extends "layout.html" %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">

{% endblock %}

{% block header %}
<section class="logo_header">
    <div class="container">
    <div class="logo_div">
        <h1 class="logo_h1_title">
            <span class="logo_1"><i class="fa-solid fa-earth-europe"></i></span>
        </h1>
        <h1 class="logo_h1">
            <span class="logo_1"> CARBON</span>  
            <span class="logo_2">App</span>
        </h1>
    </div>
    
    <div class="mission_div">
        <div class="btn-group">
            <a type="button" class="btn btn-success" href="{{url_for('carbon_calculator.new_entry')}}">New Entry</a>
            <a type="button" class="btn btn-success" href="{{url_for('carbon_calculator.your_data')}}">Your Data</a>
        </div>
    </div>
    </div>
</section>
{% endblock%}

{% block content %}
<section class="developers">
    <div class="container">
        <div class="header">
            <h1>Developers:</h1>
            <p>Here is a display of the developers from NHH...</p>
        </div>
        <div class="div_developers">
            <div class="developer">
                <div>
                <img src="static/images/StandardUser.png" alt="" style="width:200px;">                <h3>Developer X</h3>
                <p>  
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Nulla quia repellat omnis? Odit enim hic atque dolorem iste natus inventore 
                    perspiciatis vitae dolore animi veritatis aut nemo unde similique, officia 
                    reiciendis ex architecto voluptates soluta ab tempore facilis quisquam.
                </p>
                </div>
                <div class="div_btn">
                    <a class="btn_developer" href="#"  target="_blank">Link</a>
                </div> 
            </div>
            <div class="developer">
                <div>
                <img src="static/images/StandardUser.png" alt="" style="width:200px;">
                <h3>Developer X</h3>
                <p>  
                    Text
                </p>
                </div>
                <div class="div_btn">
                    <a class="btn_developer" href="#"  target="_blank">Link1</a>
                    <a class="btn_developer" href="#"  target="_blank">Link2</a>
                </div> 
            </div>
            <div class="developer">
                <div>
                <img src="static/images/StandardUser.png" alt="" style="width:200px;">                <h3>Developer X</h3>
                <p>  
                    Text
                </p>
                </div>
                <div class="div_btn">
                    <a class="btn_developer" href="#"  target="_blank">Link</a>
                </div> 
            </div>
            <div class="developer">
                <div>
                <img src="static/images/StandardUser.png" alt="" style="width:200px;">                <h3>Developer X</h3>
                <p>  
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Nulla quia repellat omnis? Odit enim hic atque dolorem iste natus inventore 
                    perspiciatis vitae dolore animi veritatis aut nemo unde similique, officia 
                    reiciendis ex architecto voluptates soluta ab tempore facilis quisquam.
                </p>
                </div>
                <div class="div_btn">
                    <a class="btn_developer" href="#"  target="_blank">Link</a>
                </div> 
            </div>
            <div class="developer">
                <div>
                <img src="static/images/StandardUser.png" alt="" style="width:200px;">                <h3>Developer X</h3>
                <p>  
                    Text
                </p>
                </div>
                <div class="div_btn">
                    <a class="btn_developer" href="#"  target="_blank">Link</a>
                </div> 
            </div>
        </div>
    </div>
</section>
{% endblock %}