{% extends "layout.html" %}
{% block head %}
<!--Importing MathJax-->
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='methodology.css') }}">

{% endblock %}

{% block header %}

{% endblock%}

{% block content %}
<section class="methodology">
    <div class="container">
        <a href="file:///C:/Users/eiste/OneDrive/Dokumenter/methodology.pdf"  target="_blank">PDF full methodology</a>
        <div class="header" style="z-index:-1">
            <h1>Methodology:</h1>

            <a type="button" class="btn btn-success" href="#car">Car</a>
            <a type="button" class="btn btn-success" href="#bus">Bus</a>
            <a type="button" class="btn btn-success" href="#walk">Walk</a>
            <a type="button" class="btn btn-success" href="#bike">Bike</a>
            <a type="button" class="btn btn-success" href="#motorcycle">Motorcycle</a>
            <a type="button" class="btn btn-success" href="#ferry">Ferry</a>
            <a type="button" class="btn btn-success" href="#plane">Plane</a>
            <a type="button" class="btn btn-success" href="#train">Train</a>
            <a type="button" class="btn btn-success" href="#tram">Tram</a>
            <a type="button" class="btn btn-success" href="#metro">Metro</a>
            
        <div class="transports">
        <div class="transport" id="car">
            <h2>Car</h2>    
            <p>
                We distinguish passenger cars into four categories based off their fuel types: diesel, gasoline, full electrical (BEV) and plug-in hybrid (PHEV). Important note is that we will not adjust the following parameters for the passenger load in each car due inadequate data. 
                <br><br>Starting with the fossil fuel-based cars, determining a single figure to represent the emissions of gasoline and diesel vehicles is a complex task, given the hundreds of different car brands, each with their unique emissions profiles based on factors such as weight, design, and fuel efficiency. Thus, it is necessary to identify a figure that reflects the average consumer's usage. In our analysis, we will focus on Norway, utilizing the average gasoline and diesel consumption per kilometre for vehicles in Norway. To obtain this data, we will reference to Norway's National Inventory Report for 2021 (NEA, 2021), which provides information on the amount of GHG emissions produced per liter of fuel, as well as the average amount of fuel consumed per kilometre by a typical vehicle.
                <br><br>The emissions from diesel and personal cars are respectively 141.8gCO2eq/km and 155.5gCO2eq/km. 
                <br><br>Moving on to the fully or partly electrical cars, it is a common perception today that electric vehicles have zero emissions. However, this perception fails to acknowledge the emissions related to producing and distributing electricity which will be the substantial part of the emissions from an electric vehicle. By including the indirect emissions into the parameter, we believe it gives a more accurate representation of the actual emission.  
                <br><br>Firstly, we need to estimate the emissions from producing electricity in Norway. Research from Ritchie & Roser shows that 91.7% of the Norwegian electricity comes from hydropower and 7.5% from wind (Rithie & Roser, 2022). In Norway, most of the electricity sources are renewable, and resultantly Norway only has emissions of 26 gCO2-eq/kWh production wise. Compared to other countries, Norway has a small absolute change in gCO2/kWh over the last two decades. For this parameter we therefore assume historical data is a good predictor for future emissions from electricity. Based on this, we will use the electricity-production emission of 26 gCO2-eq/kWh.
                <br><br>Assuming similar growth in BEV sales in the next few years, the weighted average electricity use of the Top 10 most sold BEVs in 2022 (Sagedal, 2023) is representative for all BEVs the next years. We find the weighted average electricity usage for BEVs to be 27.80 kWh/100km. The electricity usage is multiplied by the electricity-production emission of 26.16 gCO2-eq/kWh.  
                <br><br>For BEV’s this gives the parameter 7.2g CO2 per kilometre.
                <br><br>We have limited available data for the number cars of the different PHEV-models and lab-data, so we are limited to the two most popular models sold in 2021 (Hildonen, 2022). The calculations are the same as for BEVs with the distinction of doing them twice with respectively electricity and gas and modified with the amount of total km driven electric. We find the weighted average electricity and gas usage for PHEVs to be respectively 25.20 kWh/100km and 2.65 L/100km. The emissions from PHEVs are combined by the two. 
                <br><br>We estimate PHEV’s have emissions equivalent to 88.4 gCO2eq/km.
                <br><br>Sources:
                <br>NEA. (2021). (rep.). Greenhouse Gas Emissions 1990-2019 - National Inventory Report 2021. Retrieved from https://www.miljodirektoratet.no/publikasjoner/2021/april-2021/greenhouse-gas-emissions-1990-2019/  
                <br>Hannah Ritchie, Max Roser. (2020). CO2 and greenhouse gas emissions. Retrieved from https://www.ourworldindata.org/emissions-by-sector
                <br>Inger E. Sagedal. (02.01.2023). Hele 10 på topp-lista er elektrisk. Retrieved from https://www.elbil.no/hele-10-pa-topp-lista-er-elektrisk/
                <br>T. Hildonen. (06.01.2022). – Starten på slutten for hybrider. Retrieved from https://bil24.no/%e2%80%92-starten-pa-slutten-for-hybrider/

            </p>
        </div>
        <div class="transport" id="bus">
            <h2>Bus</h2>    
            <p>
                Today there are mainly diesel-fuelled buses in Norway and although investments in electric buses are increasing, they do not yet make up a substantial part of the Norwegian bus-fleet. We therefore only calculate a parameter for diesel-fuelled buses.
                <br><br>According to Statistics Norway (SSB, 2016), a coach - fylkeskommunal buss - with Euro-6 technology emits 867.2gCO2eq/km. We will additionally take into account the number of passengers aboard an average Norwegian coach. Statistics Norway calculates that the capacity utilization for coaches is 24% (SSB, 2023d). According to two of the major Norwegian bus-companies Boreal and Tide, the passenger-range is from between 45 – 60 for coaches. Due to the city busses only having a capacity for 44, we assume 44 is an adequate assumption (SSB, 2023d). With a capacity utilization of 24% in a bus with 44 seats, the number of passengers per bus is 10.56. To find the emission per passenger-kilometre we divide and find that the emissions form diesel buses are 82.1gCO2eq/pkm.
                <br><br>The parameter for a diesel bus is 82.1gCO2eq/pkm.
                <br><br>Sources:
                Statistics Norway. (2016). Tabell, utvalgte faktorer for mobile utslipp til luft etter kilde. Drivstofforbruk og utslipp per kjørte kilometer for nyere kjøretøy. 2016. Retrieved from https://www.ssb.no/318158/utvalgte-faktorer-for-mobile-utslipp-til-luft-etter-kilde.drivstofforbruk-og-utslipp-per-kjorte-kilometer-for-nyere-kjoretoyer.2016
                Statistics Norway. (2023d). Kollektivtransport. Retrieved from https://www.ssb.no/transport-og-reiseliv/landtransport/statistikk/kollektivtransport
                
            </p>
        </div>
        <div class="transport" id="walk">
            <h2>Walk</h2>    
            <p>
                As there is no fuel needed to use this means of transportation, the parameter for walking will be 0g CO2eq/km.  
            </p>
        </div>
        <div class="transport" id="bike">
            <h2>Bike</h2>    
            <p>
                We distinguish between conventional bikes (no fuel) and electrical bikes. 
                <br><br>The parameter for no fuel bikes will understandably be 0g CO2eq/km.
                <br><br>In regard to electric bikes, we use an estimate based upon the most sold electric bike in Norway (E-wheels, 2023). 
                <br><br>Based on battery size and expected range, which gives 7.1Wh/km, emissions are equal to 0.2gCO2eq/km.
                <br><br>Source:
                E-wheels.no. (2023). Momas. Jason 2023. Retrieved from https://www.e-wheels.no/elsykkel/momas-jason/?code=7009 

            </p>
        </div>
        <div class="transport" id="motorcycle">
            <h2>Motorcycle</h2>    
            <p>
                We also make estimates for motorcycles based upon NEA’s report, and several emission factors will also be relevant. Due to not differentiating between sizes, the estimate includes everything from mopeds to heavy motorbikes. 
                <br><br>Based upon the report we estimate that emissions from motorcycles are 163.5 gCO2eq/km.
            </p>
        </div>
        <div class="transport" id="ferry">
            <h2>Ferry</h2>    
            <p>
                In a report from the Norwegian Institute of Transport Economics (Thune-Larsen et. al, 2009) they stated that in 2004, the CO2 emissions per passenger-kilometre from domestic ferries was 621g. However, the reports also calculated three different scenarios for possible reductions in the years 2020, 2035, and 2050: a “compromise-scenario”, a “low-emission-scenario” and a reference-scenario. Over the last few years, Norway has seen several introductions of electrical-ferries to the domestic routes. We therefore assume that we will have reached the “low-emission-scenario” in 2020. The average parameter for domestic ferries is therefore 559g CO2 per passenger-kilometre (Thune-Larsen et.al, 2009). We are not able to estimate other GHG than CO2, so we will use an estimate of 559gCO2eq/pkm. This number is the average for both passengers traveling with and without cars. To adjust for this, we assume a car weight 1.4 tons and a human 75kg and use this in our calculations. 
                <br><br>The paramenter for a ferry car passenger and just a passenger respectively to be 1,063.9gCO2eq/pkm and 54.1gCO2eq/pkm.
                <br><br>Source:
                H. Thune-Larsen, R. Hagman, I.B. Hovi, K.S. Eriksen. (2009). Energieffektivisering og CO2-utslipp for innenlands transport 1994-2050. Retrieved from https://www.toi.no/getfile.php?mmfileid=13916                
            </p>
        </div>
        <div class="transport" id="plane">
            <h2>Plane</h2>    
            <p>
                Deciding the CO2 emissions per passenger-kilometre is a complex calculation, depending on many different factors. These include, amongst others, the type of aircraft and its varying dimensions, passenger load, freight load, fuel burn rate etc. Giving a general parameter for the CO2 emissions for aircrafts is therefore a highly advanced task, which we have decided to simplify in order to remain some control and overview of our project. We have therefore based the calculation of this parameter on the one airplane type that is most common on Norwegian domestic routes, the Boeing 737-800.
                <br><br>The parameter for domestic air-travel is 101g CO2 per passenger-kilometre.  
                <br><br>Source:
                Norwegian.no. Våre fly. Retrieved from https://www.norwegian.no/om-oss/var-historie/flyene/
            </p>
        </div>
        <div class="transport" id="train">
            <h2>Train</h2>    
            <p>
                In Norway, the majority of trains are electric, with only a small portion of the railway network relying on diesel-powered trains. We therefore only calculate the emission factor for the electric trains.  
                <br><br>According to the Norwegian Railway Directorate, the energy consumption of electric trains in Norway is around 80 kWh per train-kilometre (Jernbanedirektoratet, 2021). To determine the emissions per passenger-kilometre, we must also consider the average number of passengers per train and the average distance travelled. In 2021, the average number of passengers per train was 110 (SSB, 2023e). Assuming an average train trip distance of 50 kilometres, the energy consumption per passenger-kilometre can be calculated as 80 kWh/50 km/110 passengers = 0.01455 kWh per passenger-kilometre. 
                <br><br>We estimate trains have emissions equivalent to 0.4 gCO2eq/km.
                <br><br>Sources:
                Jernbanedirektoratet. (2021). Årsrapport jernbanedirektoratet 2021. Retrieved from https://www.jernbanedirektoratet.no/contentassets/e571714dc86c46629f7ef7bd50b33f9b/arsrapport_2021.pdf  
                Statistic Norway. (2023e). https://www.ssb.no/en/transport-og-reiseliv/landtransport/statistikk/jernbanetransport   
            </p>
        </div>
        <div class="transport" id="tram">
            <h2>Tram</h2>    
            <p>
                Trams and/or metros are only available in Oslo, Bergen and Trondheim.  Brenna (2021) calculated that the electricity used per pkm for respectively trams and metros are 0.12 and 0.15 kWh/pkm.  
                <br><br>We estimate trams and metro have emissions equivalent to respectively 3.1 and 3.9 gCO2eq/km.
                <br><br>Source:
                A.L. Brenna (07.10.2021). Slik kjøper og bruker togene strøm. Retrieved from https://www.europower.no/forbruker/slik-kjoper-og-bruker-togene-strom/2-1-1072241?fbclid=IwAR2ymhLboyT0iV6IQDBmDPYPAm6AyHbqqlL4M8idhFsHJNlnXw_05sJU1Ks
            </p>
        </div>
        <div class="transport" id="metro">
            <h2>Metro</h2>    
            <p>
                Trams and/or metros are only available in Oslo, Bergen and Trondheim.  Brenna (2021) calculated that the electricity used per pkm for respectively trams and metros are 0.12 and 0.15 kWh/pkm.  
                <br><br>We estimate trams and metro have emissions equivalent to respectively 3.1 and 3.9 gCO2eq/km.
                <br><br>Source:
                A.L. Brenna (07.10.2021). Slik kjøper og bruker togene strøm. Retrieved from https://www.europower.no/forbruker/slik-kjoper-og-bruker-togene-strom/2-1-1072241?fbclid=IwAR2ymhLboyT0iV6IQDBmDPYPAm6AyHbqqlL4M8idhFsHJNlnXw_05sJU1Ks
            </p>
        </div>
        </div>
    </div>
</section>
{% endblock %}
