{% extends "layout.html" %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='carbon_calculator.css') }}">

{% endblock %}

{% block header %}

{% endblock %}

{% block content %}
<section class="register">
    <div class="container">
        <div class="form_div">
        
                <legend class="div_high">New entry</legend>
                <!--Pick Transport buttons-->
                <div class="form-group">
                    <label class="form_label">Transportation Method:</label>
                    <div class="btn-group" style="width: 100%; margin-bottom: 5px;">
                        <a type="button" style="width: 100%;" class="btn btn-success" href="{{url_for('carbon_calculator.new_entry_walk')}}">Walk</a>
                        <a type="button" style="width: 100%;" class="btn btn-success" href="{{url_for('carbon_calculator.new_entry_bike')}}">Bike</a>
                        <a type="button" style="width: 100%;" class="btn btn-success" href="{{url_for('carbon_calculator.new_entry_car')}}">Car</a>
                        <a type="button" style="width: 100%;" class="btn btn-success" href="{{url_for('carbon_calculator.new_entry_motorcycle')}}">Motorcycle</a>
                        <a type="button" style="width: 100%;" class="btn btn-success" href="{{url_for('carbon_calculator.new_entry_bus')}}">Bus</a>
                    </div>
                
                    <div class="btn-group" style="width: 100%;">
                        <a type="button" style="width: 100%;" class="btn btn-success" href="{{url_for('carbon_calculator.new_entry_ferry')}}">Ferry</a>
                        <a type="button" style="width: 100%;" class="btn btn-success" href="{{url_for('carbon_calculator.new_entry_plane')}}">Plane</a>
                        <a type="button" style="width: 100%;" class="btn btn-success" href="{{url_for('carbon_calculator.new_entry_train')}}">Train</a>
                        <a type="button" style="width: 100%;" class="btn btn-success" href="{{url_for('carbon_calculator.new_entry_tram')}}">Tram</a>
                        <a type="button" style="width: 100%;" class="btn btn-success" href="{{url_for('carbon_calculator.new_entry_metro')}}">Metro</a>
                    </div>
                </div>
                    
                {% block f %}
                {% endblock %}  
            </div>
        </div>
    </div>
</section>
{% endblock %}
